#welcome {
  color: #aaa;
  text-align: right;
  margin: 10px;
  position: absolute;
  right: 5px;
}
#logo {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 450px;
  height: 450px;
  margin-top: -225px; /* Half the height */
  margin-left: -225px; /* Half the width */
}

@media only screen and (max-width: 600px) {
  #logo {
    width: 250px;
    height: 250px;
    margin-top: -125px; /* Half the height */
    margin-left: -125px; /* Half the width */
  }
  iframe {
    min-height: 85vh !important;
    max-height: 85vh !important;
  }
}

#actions {
  position: absolute;
  width: 40px;
  right: 20px;
  bottom: 40%;
}
#actions .md-button {
  margin-left: 0;
}
.md-title {
  font-size: 24px !important;
  margin-left: 0px !important;
  color: white !important;
  font-weight: bold !important;
}
.md-toolbar-home,
.md-toolbar-operations,
.md-toolbar-projects,
.md-toolbar-friends {
  background-color: #00b0a0 !important;
}

.md-toolbar-ccmm {
  background-color: #3c78d8 !important;
}

.md-tabs-container {
  height: 100% !important;
  padding: 10px !important;
}

.md-tab p {
  font-size: 1.2em;
  padding: 30px 0 0 10px;
}

.md-too lbar img {
  height: 55px !important;
}

.md-switch {
  margin: 0px 5px;
}

.md-checked .md-switch-container {
  background-color: #6dcec5 !important; /* not selected switch color */
}

.md-checked .md-switch-thumb {
  background-color: #fff !important; /* 00E4CF */
}

.md-switch-thumb {
  background-color: #6dcec5 !important; /* 00E4CF */
}

.md-fab {
  background-color: #fec019 !important;
}

#actions .md-icon {
  color: #404040 !important;
}

.md-icon {
  display: inline;
}
.page-container {
  min-height: 100vh;
  max-height: 100vh;

  overflow: hidden;
  position: relative;
  border: 1px solid rgba(#000, 0.12);
}

.md-content {
  min-height: 100vh;
  max-height: 100vh;
  padding: 0px;
  overflow: auto;
}

.md-content img #logo {
  position: absolute;
  top: 10%;
  left: 3%;
  width: 60vh;
  height: 60vh;
}

.counter {
  position: absolute;
  bottom: 0px;
  right: 30px;
  font-size: 5em;
  color: #ddd;
}
