#particles-js {
  width: 100%;
  min-height: 100vh !important;
  max-height: 100vh !important;
  background: white;
}

.particles-js-canvas-el {
  min-height: 100vh !important;
  max-height: 100vh !important;
}
