.vue-tags-input {
  max-width: 100% !important;
}

.new-tag-input {
  font-weight: bold !important;
}
.icon-close,
.icon-undo {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 45%;
  padding: 2px 2px 2px 3px;
  margin-left: 3px;
}

li.tag {
  height: 34px !important;
  padding: 0 10px !important;
  background-color: #00b0a0 !important;
  border-radius: 40px !important;
  font-size: 15px !important;
  line-height: 34px !important;
  vertical-align: middle !important;
  white-space: nowrap !important;
}

.md-chip {
  cursor: pointer;
}

.shading1 {
  opacity: 0.5;
}
